<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NomNomShop</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="Index">NomNomShop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="dropbtn">
                                    Categories
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Sweet">Sweet</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Sour">Sour</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Salty">Salty</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Spicy">Spicy</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="dropbtn">
                                    Suppliers
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Chio">Chio</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="CrikCrok">CrikCrok</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="EatReal">Eat Real</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Lays">Lays</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="fini">fini</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Manner">Manner</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Milka">Milka</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Mizo">Mizo</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Pocky">Pocky</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Snickers">Snickers</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="SourPatch">Sour Patch</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Toffifee">Toffifee</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- cart button -->
            <button id="cart-button">
                <img src="/img/simple_cart.jpg" alt="cart" width="45" height="37">
            </button>

        </div>
    </nav>
</header>
<div class="container">

    <!-- cart modal start-->
    <div id="cart-modal" class="modal">
        <div class="cart-modal-content">
            <span class="cart-close">&times;</span>
            <div class="cart-modal-body">
                <button id="checkout" type="button">Checkout</button>
            </div>
        </div>
    </div>
    <!-- cart modal end-->
    
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Codecool.CodecoolShop - <a asp-area="" asp-controller="Product" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
